.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Form Settings*/
.todoApp{
  padding: 20px 0 0;
  display: inline-block;
  text-align: left;
}

.error{
  color: red;
  display: block;
  text-align: center;
}

.success{
  color: green;
  display: block;
  text-align: center;
}

li span.deleteItem{
  visibility: hidden;
}

span.deleteItem a{
  text-decoration: none;
  color: red;
}

li:hover span.deleteItem{
  visibility: visible;
}

input{
  font-size: 18px;
  padding: 5px;
  border: 1px solid black;
}

ul{
  padding: 0px;
}

li{
  list-style: none;
}

/*Text Settings*/
.footer a{
  padding: 0 2px;
}

.footer a.active{
  font-weight: bold;
}